 <h1>Welcome to the Youtube Video fetcher!!</h1>

 <%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "What do you want to search? :") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
 


 <style>

    body {
      text-align: center;
      background: url("http://www.knowledgehi.com/thumbnails/detail/20130317/sand%20music%20drawn%20musical%20notes%201705x1043%20wallpaper_www.knowledgehi.com_37.jpg");
      background-size: cover;
      background-position: center;
      color: red;
      font-family: Arial;
    }

 </style> 
 <body>

  <h2> Here is a little inspiration :) </h2>
    <img src="http://loganw8.edublogs.org/files/2013/04/never-give-up-quotes-10-1994a6y.jpg" width="200" height="200">
 </body>
